/* Colors */
/* NAV FONT COLOR */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&family=PT+Sans&display=swap");

@font-face {
    font-family: "BraziliaSevenCGRegular";
    src: url('./fonts/BraziliaSevenCGRegular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff2'), /* Super Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/BraziliaSevenCGRegular.otf') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: "AlergiaNormal";
    src: url('./fonts/AlergiaNormal.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/AlergiaNormal.otf') format('woff2'), /* Super Modern Browsers */
         url('./fonts/AlergiaNormal.otf') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/AlergiaNormal.otf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/AlergiaNormal.otf') format('svg'); /* Legacy iOS */
}



.post-thumb-left img {
float: left;
  max-width: 50%;
    padding-top: 40px;
    padding-right: 30px;
}

.post-content-left {
    float:right;

padding-left:200px;
}

.post-title-left{
  text-align: left;
  float: right;
  padding-top: 70px;
padding-right: 190px;
    font-size: 17px;
font-family:"AlergiaNormal";
}




.post-thumb-right img {
float: right;
  max-width: 50%;
    padding-top: 60px;

}

.post-content-right {
    float:left;
    clear: left;
padding-left:200px;
}

.post-title-right{
overflow: auto;
  padding-top: 70px;
padding-left: 30px;
    font-size: 17px;
font-family:"AlergiaNormal";
float: left;
clear: left;
}

.search_body{
padding-bottom: 50px;
}

.search-container{
  float: right;
  clear: right;
  padding-right: 100px;
  width: 300px;
  margin: 0 auto;
}

input#search-bar{
  display: inline;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  height: 36px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 70px;
  height: 70px;
  top: -54px;
  right: -45px;
}



main, nav{

    width: 100%;
  width: 100%;
    position: relative;
    padding: none;
    margin: 0 auto;
    padding-bottom: 5px;

}
nav{perspective: 800px; z-index: 999;}
#main-navigation-container{
    width: 1080px;
    background: #03596d;
}

.navigation-items{
    float: left;
      font-family: 'BraziliaSevenCGRegular';
      font-size: 25px;
      padding-bottom: 10px;

}
.navigation-items>ul>li{
    float: left;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}
.navigation-items>ul>li>a{
    line-height: 3rem;
    display: inline-block;
    padding: 0 1rem;

}

.submenu-container{
    width: 100%;
    position: absolute;
    left: 0;
    background: white;
    border-top: none;
    padding: 1rem;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
padding-top: 22px;
padding-left: 60px;

}

.navigation-items>ul>li:hover>a+.submenu-container{
    opacity: 1;
    visibility: visible;
    z-index: 1002;
    transform: rotateY(0);
}
.list{
    float: left;
    width: 20%;

}
.category-title h2{
    color:black;
    display: inline-block;
    margin: .5rem 0;
    font-size: .9rem;
      font-family: "BraziliaSevenCGRegular";
}
.submenu li a{
    font-size: .9rem;
    line-height: 1.8;
color: black;
    font-family: "BraziliaSevenCGRegular";
        text-decoration: none;
}
.submenu li a:hover{
    text-decoration: none;
}


#main-navigation-container::after,
#main-navigation-container::before{
    content: '';
    display: block;
}
#main-navigation-container::after{
    clear: both;
}


/*Styling Content*/
main{
    padding: 1rem 0;
    z-index: 100;
}
main section >h1{
    margin: 1rem 0 ;
}
main section > p{
    line-height: 1.6;
}

.shop_properties{

}
#search_properties{

}

/* Dropdown Button */
.dropbtn {
    padding-bottom: 15px;
  font-family: 'AlergiaNormal';
  background-color: white;
  color: black;
  padding-top: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: 'AlergiaNormal';
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: white}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#subtitle{

}

.caps{
  text-transform:capitalize;
}
.image_left{

}

div.gallery {
  margin: 37px;
  float: left;
  width: 200px;
}

div.change_image:hover {

}

div.gallery:hover {
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: #2F2F2F;
  line-height: 120%;
  padding: 15px;
  text-align: left;
  font-family: 'AlergiaNormal';
}


.home_images1{
float: left;
padding-left: 40px;
}

.home_images2{
padding-right: 40px;

float: right
}

.home_images1:hover {
    filter: blur(2px);

}
.home_images2:hover {
    filter: blur(2px);
}
.footer_pad {
  font-size: 20px;
   column-rule-style: none;
  column-count: 4;
    column-width: 150px;
  column-gap: 50px;
  line-height: 30px;
  width: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    clear:both

}

.footer{
  padding-top: 30px;
  padding-bottom: 10px;
  clear:both
}

.center {
text-align:center;
}

.body_padding {
  width: auto;
    text-align:left;
}

.home_title {
  width: auto;
  margin: 20px;

  padding-top: 20px;
text-align: center;
  letter-spacing: 30px;
  font-size: 130px;
}

.secondary_title {
    font-size: 25px;
    color: black;
}

/* This is to style my icons */
.icons {
    outline: none;
    font-size: 30px;
    color: black;
}

.in_place{
  clear: both;
      position: relative;
      height: 200px;
      margin-top: -200px;
}

/* Grabs color */
a {
    color: inherit;
}
/*fonts*/
/* classifies font for the nav bar */
.font{
    font-family: 'BraziliaSevenCGRegular';

}
.font_title {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 120px;
}

.font_17px {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 17px;
}


/* Styles nav bar */
.style_navbar {
    list-style-type: none;
    padding-top: 30px;
    overflow: hidden;
    font-family: 'BraziliaSevenCGRegular';
    font-size: 25px;
}


/* Styles background color for website */
body {
    background-color: #FFFFFF;
    margin-right: auto;
 margin-left:  auto;
 max-width: 90%;
 padding-right: 10px;
 padding-left:  10px;
}

.styling_li{
    float: left;
}
.nav_pad{
    padding-right: 20px;
}

/* Removes underlines for everything using a <a> or <u> tag */
a,u{
    text-decoration: none;
}
