/* Colors */
/* NAV FONT COLOR */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&family=PT+Sans&display=swap");

@font-face {
    font-family: "BraziliaSevenCGRegular";
    src: url('./fonts/BraziliaSevenCGRegular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff2'), /* Super Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/BraziliaSevenCGRegular.otf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/BraziliaSevenCGRegular.otf') format('svg'); /* Legacy iOS */
}










.image_left{
float: right;
}

div.gallery {
  margin: 37px;
  float: left;
  width: 200px;
}

div.change_image:hover {

}

div.gallery:hover {
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: #2F2F2F;
  line-height: 120%;
  padding: 15px;
  text-align: left;
}


.home_images{
  text-align: center;
}

.home_images:hover {
    filter: blur(2px);
}
.footer_pad {
  font-size: 20px;
   column-rule-style: none;
  column-count: 4;
    column-width: 150px;
  column-gap: 50px;
  line-height: 30px;
  width: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    clear:both

}

.footer{
  padding-top: 30px;
  padding-bottom: 10px;
  clear:both
}

.center {
text-align:center;
}

.body_padding {
  width: auto;
    text-align:left;
}

.home_title {
  width: auto;
  margin: 20px;

  padding-top: 20px;
text-align: center;
  letter-spacing: 30px;
  font-size: 130px;
}

.secondary_title {
    font-size: 25px;
    color: black;
}

/* This is to style my icons */
.icons {
    outline: none;
    font-size: 30px;
    color: black;
}

.in_place{
  clear: both;
      position: relative;
      height: 200px;
      margin-top: -200px;
}

/* Grabs color */
a {
    color: inherit;
}
/*fonts*/
/* classifies font for the nav bar */
.font{
    font-family: 'BraziliaSevenCGRegular';
}
.font_title {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 120px;
}

.font_17px {
    font-family: 'BraziliaSevenCGRegular';
    font-size: 17px;
}


/* Styles nav bar */
.style_navbar {
    list-style-type: none;
    padding-top: 30px;
    overflow: hidden;
    font-family: 'BraziliaSevenCGRegular';
    font-size: 25px;
}
li {
    float: left;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 10px;
}

li a:hover {
    background-color: black;
    color: yellow;

}


/* Styles background color for website */
body {
    background-color: #FFFFFF;
    margin-right: auto;
 margin-left:  auto;
 max-width: 90%;
 padding-right: 10px;
 padding-left:  10px;
}


/* Removes underlines for everything using a <a> or <u> tag */
a,u{
    text-decoration: none;
}
