<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{url_for('static', filename='filter.js')}}"></script>
   <title>Page Not Found</title>
</head>
{% extends "template.html" %}
{% block body %}
<div class= "allfont">
   <div class= "left">
      <h1> Page Not Found </h1>
   </div>
   <h2>What you were looking for is just not here.</h2>
   <!-- Links "Click Me" back to home page-->
   <h2><a href="{{ url_for('home') }}">Click me to go somewhere better<a></h2>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
