<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="{{url_for('static', filename='filter.js')}}"></script>
      <title>About</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
      <div class="font">
         <div class="post-thumb-left"><img src="/static/img/about/landscape.png" /></div>
         <div class="post-title-left">
            <h1>ABOUT</h1>
            <p>WHOCARES? is the evolution of a hobby and fgnfngergegergergfefefff<br>a passion for pre-loved clothing being <br>saved rom landfill. From humble beginnings <br>hunting for hours on end  through thrift<br> stores, we now stock hundreds of handpicked <br> one of a kind vintage pieces imported <br>vfrom across the globe.</p>
         </div>
         <div class="post-thumb-right"><img src="/static/img/about/landscape.png" /></div>
         <div class="post-title-right">
            <h1>ABOUT</h1>
            <b>
               <p>Overview...</p>
            </b>
            <p>Paragraph...</p>
         </div>
      </div>
      </div>
      {%endblock %}
   </body>
</html>
