<!DOCTYPE html>
<html>
   <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{url_for('static', filename='filter.js')}}"></script>
      <title>About</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
     <div class="font">
                <div id="subtitle">
                   <h1>ABOUT
                   </h1>
      </div>
      <div class="image_left">

      <div class="body_padding">
         <img src="/static/img/about/landscape.png" width=30% height=30%>
         <div>
            <h3>Recycle Boutique is a consignment store that celebrates
               conscious shopping and provides a platform for you to sell your
               clothing, shoes and accessories.
               We specialise in high-quality designer, contemporary and
               vintage clothing, for men and women. Visit one of our 10
               stores around New Zealand or find some of our favourites
               online, curated by our team.
               We are proud to provide New Zealanders with a solution to
               fast-fashion and landfill waste. Join us in extending the
               life cycle of your clothing.
            </h3>
            <h1>Our Story</h1>
            <h3>They say ‘what goes around, comes around’, and we know they
               aren’t talking about clothing but for us, it couldn’t be more
               accurate. Times change, styles change and people change and
               evolve with them. Then they change back. We are Recycle
               Boutique. Or simply Recycle. A place where you can buy and
               sell quality second hand clothing.
               Waste is a very real problem in the world right now and
               the textile industry is one of the
               biggest polluters of our environment. There needs to be a big
               shift in the way we shop and we think Recycle is that shift.
               Selling and shopping secondhand is the most sustainable way
               to reduce your wardrobe and refresh your look. With us, it
               also means you get paid to be a part of the solution.
               It Pays To Recycle.
            </h3>
         </div>
      </div>
   </body>
   {%endblock %}
</html>
