<!DOCTYPE html>
<html>
   <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{url_for('static', filename='filter.js')}}"></script>
      <title>About</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
     <div class="font">
       <div id="subtitle">
          <h1>
          </h1>
      </div>
      <div class="container">
      <div class="image">
        <img src="/static/img/about/landscape.png">
      </div>
      <div class="text">
        <h1>ABOUT</h1>
        <b><p>Overview...</p></b>
        <p>Paragraph...</p>
      </div>
    </div>
         <div>
            <h3>
            </h3>
            <h1>Our Story</h1>
            <h3>
            </h3>
         </div>
      </div>

   </body>
   {%endblock %}
</html>
