<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{url_for('static', filename='filter.js')}}"></script>
</head>
<footer>
  <div class="font">
        <div class="footer_pad">
  <a href="{{ url_for('sell') }}">SELL</a><br>
        <a class="nav_pad"  href="{{ url_for('our_stores') }}">OUR STORES</a><br>
        <a href="{{ url_for('contact') }}">CONTACT</a><br>
        <a href="{{ url_for('terms_of_service') }}">TERMS OF SERVICE</a><br>
                <a href="{{ url_for('refund_policy') }}">REFUND POLICY</a><br>
                <a href="{{ url_for('work_with_us') }}">WORK WITH US</a><br>
          <a href="https://www.instagram.com/"target="_blank">INSTAGRAM</a><br>
          <a href="https://www.facebook.com/"target="_blank">FACEBOOK</a><br>
          <a href="https://www.wikipedia.com/"target="_blank">JOIN OUR NEWSLETTER</a><br>
          <a href="signup_page">SIGN UP</a><br>

        </div>
<div class = 'footer'>
         <p class="copy_right text-center">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Ben Shand</a>
         </p>
         <div class = 'icons'>
            <a href="https://www.instagram.com/fruit "target="_blank" ><i class='fab fa-instagram-square' ></i></a>
            <a href="https://twitter.com/fruit "target="_blank" ><i class='fab fa-twitter-square' ></i></a>
            <a href="https://www.facebook.com/fruit "target="_blank" ><i class='fab fa-facebook-square' ></i></a>
                            </div>
                            </div>

                            </footer>
