<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Search</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='filter.js')}}"></script>
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
     <div class="font">
                <div id="subtitle">
                   <h1>SEARCH
                   </h1>
        </div>
         </div>
      </div>
   </body>
   {%endblock %}
</html>
