{% extends "template.html" %}
{% block head %}
<title>{{ sep.product_name }}</title>
{% endblock %}
{% block content %}
<div class= "font">
<!-- displays name for certain discountbox -->
        <h2>{{ sep.product_name }}</h2>
</div>
    <div class="align">
        <div class="recipe_image">
             <img height="600" width="400" src="{{ sep.image1 }}">
        </div>
        <div class="recipe_paragraph">
            <!-- gets ingredients list from database-->
            <h1>Description:</h1>
            <h3>{{ sep.description }}</h3>
            <!-- gets method for recipe from database-->
            <h1>Price : </h1>
            <h3>{{ sep.price }}</h3>
<!-- displays name for certain discountbox -->
</div>
<br>

<form method="POST" enctype="multipart/form-data">
{{ form.csrf_token }}
<h2>Add Review : </h2>
{{form.name.label}} {{form.name}}<br>
{{form.rating.label}} {{form.rating}}<br>
{{form.comment.label}} {{form.comment}}<br>
{{form.submit}}
</form>
<br>

<h1>Reviews : </h1>
{% for review in reviews %}
<p>{{review.name}}</p>
<p>{{review.rating}}</p>
<p>{{review.comment}}</p>
{% endfor %}




{% endblock %}
