<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <title>{{ sep.product_name }}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='filter.js')}}"></script>
   </head>
   <body>

   {% extends "template.html" %}
   {% block content %}
   <div class= "font">
      <!-- displays name for certain discountbox -->
      <h2>{{ sep.product_name }}</h2>
   </div>
   <div class="align">
      <div class="recipe_image">
         <img height="600" width="400" src="{{ sep.image1 }}">
      </div>
      <div class="recipe_paragraph">
         <!-- gets ingredients list from database-->
         <h1>Description:</h1>
         <h3>{{ sep.description }}</h3>
         <!-- gets method for recipe from database-->
         <h1>Price : </h1>
         <h3>{{ sep.price }}</h3>
           {% endblock %}

</body>

</html>
