<!DOCTYPE html>
<html>
   <head>
      <title>Shop</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>

       <div class="body_padding">
        <div class="font">

      <h2>WhoCares? is a NZ owned and operated family business, based in the
         Christchurch region. As a Fruit Wholesale Distribution, We have supplied
         Fresh Fruit to quality focused customers for generations. Specialising in
         wholesale distribution around New Zealand, we have a great spirited team of
         more than 30 diligent people and pride ourselves on our high standard of
         produce quality, customer service, and expertise.
      </h2>
          {% for all_products in all_products %}
<div class="gallery">
        <a target="_blank" href="/products/{{ all_products.id }}">

          <div class="change_image">
          <img src="{{ all_products.image1 }}">
        </div>

        </a>
        <div class="desc">
          {{ all_products.brand }}<br>
          {{ all_products.product_name }}<br>
          {{ all_products.size }}<br>
          <b>{{ all_products.price }}</b>
        </div>
      </div>
      {% endfor %}
   </body>
</div>
</div>
<div class="in_place">
   {%endblock %}
</html>
