<!DOCTYPE html>
<html>
   <head>
       {% for filter_gender in filter_gender %}
       {% for filter_product_type in filter_product_type %}
      <title>{{ filter_gender.gender }} {{ filter_product_type.product_type }}</title>
      {% endfor %}
      {% endfor %}
      <meta charset="utf-8">
      <script src="{{url_for('static', filename='filter.js')}}"></script>
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
      <div class="body_padding">
         <div class="font">
           <div class="subtitle">
              <h1>SHOP
              </h1>
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Category + </button>
                <div id="myDropdown" class="dropdown-content">
                  <a target="_blank" href="/products/{{ all_products.id }}">Tops</a>
                  <a href="#">Shorts</a>
                  <a href="#">Pants</a>
                  <a href="#">Shirts</a>
                  <a href="#">Sweaters</a>
                  <a href="#">Outer Wear</a>
                  <a href="#">Accessories</a>
                </div>
              </div>
           </div>


            {% for all_products in all_products %}
            <div class="gallery">
               <a target="_blank" href="/products/{{ all_products.id }}">
                  <div class="change_image">
                     <img src="{{ all_products.image1 }}">
                  </div>
               </a>
               <div class="desc">
                  {{ all_products.brand }}<br>
                  {{ all_products.product_name }}<br>
                  {{ all_products.size }}<br>
                  <b>{{ all_products.price }}</b>
               </div>
            </div>
            {% endfor %}
   </body>

   <div class="in_place">
   {%endblock %}
</html>
