<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Shop</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block body %}
   <body>
      <div class="body_padding">
         <div class="font_body">
            <h2>All of these boxes are at a discounted price, provides a week's
               worth of seasonal organic fruit for approximately one to
               two people depending on requirements. The range varies but always
               includes staple fruit and vegetables as well as interesting seasonal
               items.
            </h2>
            {% for all_products in all_products %}
            <div class="gallery">
               <a href="/all_products/{{ all_products.id }}">
                  <div class="desc">{{ all_products.description }}</div>
                  <img src="{{ all_products.image }}" width="600" height="400">
               </a>
               {% endfor %}
            </div>
         </div>
      </div>
      </div>
      </div>
   </body>
   {%endblock %}
</html>
