@app.route("/shop")
def shop():
        conn = sqlite3.connect('WhoCares.db')
        c = conn.cursor()
        c.execute("SELECT * FROM Products ORDER BY id;")
        gg = c.fetchall()
        conn.close()
        return render_template("shop.html", gg=gg)


@app.route('/products/<id>')
def separate_products(id):
        conn = sqlite3.connect('WhoCares.db')
        c = conn.cursor()
        c.execute("SELECT * FROM Products WHERE id=?;",(id,))
        get_product = c.fetchone()
        conn.close()
        return render_template("separate_products.html",
        get_product=get_product)


        {% for all_products in all_products %}
        <div class="gallery">
          <a target="_blank">
            <img src="{{ all_products.image }}" width="600" height="400">
          </a>
          <div class="desc">{{ all_products.product_name }}</div>
        </div>
           {% endfor %}

           @app.route("/search",methods == ['POST', 'GET'])
           def search():
               if requests.method =='POST':
                   print('post method')
                   form = requests.form
                   search_value = form['string_search']
                   print(search_value)
                   search  = "%{}%".format(search_value)
                   print(search)
                   results= models.Products.query.filter(Products.product_name.like(search)).all()
                   print(results)
                   return render_template("search.html", products=results)


                   <!DOCTYPE html>
                   <html>
                      <head>
                         <title>Shop</title>
                         <meta charset="utf-8">
                         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
                       <script src="{{url_for('static', filename='filter.js')}}"></script>
                      </head>
                      {% extends "template.html" %}
                      {% block content %}
                      <body>
                         <div class="font">
                         <div id="subtitle">
                            <h1>SHOP
                            </h1>
                            <div class="dropdown">
                               <button onclick="myFunction()" class="dropbtn">Category + </button>
                               <div id="myDropdown" class="dropdown-content">
                                  {% for filter_tops in filter_tops %}
                                  {% endfor %}
                                  <a target="_blank" href="/shop">T-Shirts</a>
                                  <a href="#">Shorts</a>
                                  <a href="#">Pants</a>
                                  <a href="#">Shirts</a>
                                  <a href="#">Sweaters</a>
                                  <a href="#">Outer Wear</a>
                                  <a href="#">Accessories</a>
                               </div>
                            </div>
                            <div class="body_padding">
                              {% for mens_all in mens_all %}
                              <div class="gallery">
                                 <a target="_blank" href="/products/{{ mens_all.id }}">
                                    <div class="change_image">
                                       <img src="{{ mens_all.image1 }}">
                                    </div>
                                 </a>
                                 <div class="desc">
                                    {{ mens_all.brand }}<br>
                                    {{ mens_all.product_name }}<br>
                                    {{ mens_all.size }}<br>
                                    <b>{{ mens_all.price }}</b>
                                 </div>
                              </div>
                              {% endfor %}
                      </body>
                      </div>
                      </div>
                      <div class="in_place">
                      {%endblock %}
                   </html>
