@app.route("/shop")
def shop():
        conn = sqlite3.connect('WhoCares.db')
        c = conn.cursor()
        c.execute("SELECT * FROM Products ORDER BY id;")
        gg = c.fetchall()
        conn.close()
        return render_template("shop.html", gg=gg)


@app.route('/products/<id>')
def separate_products(id):
        conn = sqlite3.connect('WhoCares.db')
        c = conn.cursor()
        c.execute("SELECT * FROM Products WHERE id=?;",(id,))
        get_product = c.fetchone()
        conn.close()
        return render_template("separate_products.html",
        get_product=get_product)


        {% for all_products in all_products %}
        <div class="gallery">
          <a target="_blank">
            <img src="{{ all_products.image }}" width="600" height="400">
          </a>
          <div class="desc">{{ all_products.product_name }}</div>
        </div>
           {% endfor %}
