<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Terms of Services</title>
      <meta charset="utf-8">
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
      <div class="font">
      <div id="terms_text">
         <div id="subtitle_middle">
            <h1>TERMS OF SERVICE
            </h1>
         </div>
         <h3> OVERVIEW </h3>
         <h4>
            <p>This website is operated by Who Cares Ltd. Throughout the site, the terms “we”, “us” and “our” refer to Recycle Boutique Ltd. Who Cares Ltd offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
            <p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
            <p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
            <h3> SECTION 1 - ONLINE STORE TERMS </h3>
            <p>By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
            <p>You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).
            <p>You must not transmit any worms or viruses or any code of a destructive nature.
            <p>A breach or violation of any of the Terms will result in an immediate termination of your Services.
            <p>
            <h3> SECTION 2 - GENERAL CONDITIONS </h3>
            <p>We reserve the right to refuse service to anyone for any reason at any time.
            <p>You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
            <p>
               You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.
            <p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.
         </h4>
      </div>
      {% endblock %}
   </body>
</html>
