<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <script src="{{url_for('static', filename='filter.js')}}"></script>

     {% for womens_all in womens_all %}
     <div id="caps">
      <title>{{ womens_all.gender }} </title>
    </div>
      {% endfor %}
   </head>
   {% extends "template.html" %}
   {% block content %}
   <body>
      <div class="font">
      <div id="subtitle">
         <h1>SHOP
         </h1>
         <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Filter + </button>
            <div id="myDropdown" class="dropdown-content">
               {% for filter_tops in filter_tops %}
               {% endfor %}
               <a target="_blank" href="/shop">Color</a>
               <a href="#">Size</a>
               <a href="#">Brand</a>

            </div>
         </div>
         <div class="body_padding">
           {% for womens_all in womens_all %}
           <div class="gallery">
              <a target="_blank" href="/products/{{ womens_all.id }}">
                 <div class="change_image">
                    <img src="{{ womens_all.image1 }}">
                 </div>
              </a>
              <div class="desc">
                   <div class="caps">
                 {{ womens_all.brand }}<br>
                 {{ womens_all.product_name }}<br>
                 {{ womens_all.size }}<br>
                 <b>{{ womens_all.price }}</b>
              </div>
           </div>
         </div>
           {% endfor %}
   </body>
   </div>
   </div>
   <div class="in_place">
   {%endblock %}
</html>
